body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.error_content {
  color: white;
  text-align: center;
  padding-bottom: 100px;
  flex-grow: 1; 
  overflow: auto;
}

.error_content h1 {
  padding: 20px 0px;
  margin: 180px 0px;
  font-size: 52px;
}

.error_content a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 20px 0px;
  margin: 100px 0px;
}

.error_content a:hover {
  color: #ebebeb;
}

.basebar {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.basebar header {
  height: 61px;
}

.basebar.footer {
  height: 61px;
  margin-top: auto;
}

.footer-content {
  background-color: rgb(90, 90, 90);
  margin: 0;
  height: 61px;
  padding-left: 16px;
}

.footer-content .footer-links {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 16px;
  margin: auto;
  font-weight: lighter;
  margin-right: 10px;
}

.footer-content .footer-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-content .footer-links a:hover {
  color: rgb(220, 220, 220);
}

.main-row {
  display: flex;
  flex-grow: 1;
  height: 80vh;
}

.side-menu {
  width: 300px;
  background-color: rgb(34, 34, 34);
  border-right: 1px solid rgb(83, 83, 83);
}

.content {
  color: white;
  overflow: auto;
  flex-grow: 1;
  padding-top: 32px;
}

.content-title {
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding-top: 16px;
  text-transform: uppercase;
}

.navbar {
  overflow: hidden;
  background-color: #ebebeb;
  height: 61px;
}

.navbar h1 {
  float: left;
}

.navbar a {
  float: right;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
  margin: auto;
  /* border-left: 1px solid rgb(44, 44, 44); */
}

.navbar h1 a {
  text-decoration: none;
  font-size: 28px;
  padding: 0px 15px;
}

.navbar h1 a:hover {
  background-color: inherit;
}

.navbar a i {
  font-size: 24px;
}

.navbar a:hover {
  background-color: rgb(220, 220, 220);
  color: black;
}

.navbar a.active {
  background-color: #2196F3;
  color: white;
}

.navbar a.active:hover {
  background-color: #62afee;
  color: white;
}

.side-menu .search-container {
  float: right;
  padding: 0px 12px;
}

.side-menu .search-title {
  color: white;
  margin: 0px;
  font-size: 20px;
}

.side-menu input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.side-menu input[type=text]:hover {
  background-color: rgb(220, 220, 220);
}

.side-menu .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.side-menu .search-container button:hover {
  background-color: rgb(220, 220, 220);
}

.side-menu .search-container select {
  border: none;
  font-size: 17px;
  cursor: pointer;
  margin-top: 12px;
  height: 32px;
  width: 80%;   
  border-radius: 4px;
}

.side-menu .search-container select:hover {
  background-color: rgb(220, 220, 220);
}

.films {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}

.film {
  padding: 20px 20px;
  background-color: rgb(28, 31, 48);
  border-radius: 8px;
  width: fit-content;
  margin: 16px 16px;
  color: white;
}

.film:hover {
  background-color: rgb(24, 27, 39);
  color: rgb(220, 220, 220);
}

.film a {
  text-decoration: none;
  color: inherit;
}

.film .film-info h1 {
  text-transform: capitalize;
}

.film .film-img {
    width: fit-content;
}

.film .film-img img {
    width: 150px;
    border-radius: 4px;
}


.film:hover .film-img img {
  filter: brightness(0.8);
}

.film .film-info h1 {
    font-size: 20px;
}

.side-menu-title {
  color: white;
  text-align: center;
}

.film-image {
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
}

.film-description {
  padding-left: 32px;
  font-size: 24px;
  color: white;
}

.side-menu-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  padding: 12px 16px;
  background-color: white;
}

.side-menu-btn:hover {
  background-color: rgb(220, 220, 220);
}

.form-content {
  display: flex;
  margin: auto;
  width: 100vw;
  height: 75vh;
  overflow: auto;
  padding: 16px 16px;
}

.form-div {
  background-color: #ebebeb;
  border-radius: 8px;
  margin: auto;
  padding: 16px 16px;
  box-shadow: 8px 8px 8px rgb(25, 25, 25);
}

.form-div h1 {
  margin: 0;
  text-align: center;
}

.form-div h3 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
}

.form-div input[type="text"], .form-div input[type="password"] {
  border: none;
  font-size: 18px;
  padding: 6px 6px;
  border-radius: 4px;
}

.form-div input[type="text"]:hover, .form-div input[type="password"]:hover {
  background-color: rgb(230, 230, 230);
}

.form-div button {
  padding: 8px 10px;
  margin-top: 16px;
  border: none;
  display: block;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
}

.form-div button:hover {
  background-color: #62afee;
}

.form-div .form-inputs {
  padding-bottom: 16px;
}

.form-div a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.form-div a:hover {
  color: rgb(100, 100, 100);
}

.side-menu hr {
  width: 75%;
}

.checkout-content {
  padding: 16px 32px;
  font-size: 17px;
  color: white;
}

.buy-item {
  background-color: rgb(30, 30, 30);
  border-radius: 8px;
  margin: 16px 16px;
  padding: 20px 16px;
  border: 1px solid rgb(83, 83, 83);
  display: flex;
}

.item-content {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  width: 92%;
}

.item-content:hover {
  filter: brightness(0.8);
}

.buy-item h1 {
  font-size: 24px;
  margin: 0px;
}

.buy-item img {
  height: 100px;
  border-radius: 4px;
  margin-right: 16px;
}

.buy-item button {
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(206, 66, 66);
  color: white;
  font-size: 20px;
}

.buy-item button:hover {
  background-color: rgb(230, 99, 99);
}

.item-info p {
  margin: 12px 12px;
}

.user-preview {
  width: 300px;
  height: 100%;
  color: white;
}

.user-image img{
  height: 80%;
  display:block;
  margin:auto;
  padding-top: 32px;
}

.user-info h1, h3{
  text-align: center;
}

.user-history{
  margin: 0 auto;
}

.history-film{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 1.5rem;
  row-gap: 0.5rem;
}

.history-film img{
  height: 80%;
  display:block;
  padding-left: 5%;
  padding-top: 32px;
}

.history-film h1{
  display: inline-block;
}



