{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}


{% block content %}
<div class="form-content">
  <div class="form-div">
    <form action="/action_page.php">
      <div class="form-inputs">
        <h1>Login</h1>
        <label for="username"><h3>Username</h5></label>
        <input type="text" placeholder="username" name="username" id="username">
        <label for="password"><h3>Password</h5></label>
        <input type="text" placeholder="password" name="password" id="password">
      </div>
      <a href="register">Don't have a user?</a><br>
      <button>Login</button>
    </form>
  </div>
</div>
{% endblock %}
