{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}


{% block content %}
<div class="form-content">
  <div class="form-div">
    <form action="/action_page.php">
      <div class="form-inputs">
        <h1>Register</h1>
        <label for="email">
          <h3>Email</h5>
        </label>
        <input type="text" placeholder="marianorajoy@mimail.es" name="email" id="email">
        <div id="email_popup" class="pwd_popup">
          <h5>You must enter a valid email.</h5>
        </div>
        <label for="username">
          <h3>Username</h5>
        </label>
        <input type="text" placeholder="username" name="username" id="username">
        <div id="user_popup" class="pwd_popup">
          <h5>Username must be 6 characters long, <br> without spaces or special characters.</h5>
        </div>
        <label for="password">
          <h3>Password</h5>
        </label>
        <input type="password" placeholder="password" name="password" id="password">
        <div id="pwd_popup" class="pwd_popup">
          <h5>Password must be 8 characters long.</h5>
        </div>
        <label for="confirmation">
          <h3>Confirm Password</h5>
        </label>
        <input type="password" placeholder="password" name="confirmation" id="confirmation">
        <div id="cfm_popup" class="pwd_popup">
          <h5>Passwords should match.</h5>
        </div>
        <label for="credit-card">
          <h3>Credit card</h5>
        </label>
        <input type="text" placeholder="ES00-0000-0000-0000" name="credit-card" id="credit-card">
        <div id="card_popup" class="pwd_popup">
          <h5>Credit card number must be 16 digits long.</h5>
        </div>
        <label for="direction">
          <h3>Direction</h5>
        </label>
        <input type="text" placeholder="ES00-0000-0000-0000" name="direction" id="direction">
        <div id="dir_popup" class="pwd_popup">
          <h5>Adress must be 50 characters or shorter.</h5>
        </div>
      </div>
      <a href="login">Already have a user?</a><br>
      <button>Register</button>
    </form>
  </div>
</div>
<script type="text/javascript" src={{ url_for('static', filename='scripts/script.js' ) }}></script>

{% endblock %}